@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(49, 49, 49);
}

a:focus,
button:focus {
  outline: none;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}
